src/conf/xml-resources/web-service-references/wsUsuario/wsdl/localhost_8080/WSLaUPOTomorrow/wsUsuario.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="addUsuario" type="tns:addUsuario"/>

<xs:element name="addUsuarioResponse" type="tns:addUsuarioResponse"/>

<xs:element name="deleteUsuario" type="tns:deleteUsuario"/>

<xs:element name="deleteUsuarioResponse" type="tns:deleteUsuarioResponse"/>

<xs:element name="listUsuario" type="tns:listUsuario"/>

<xs:element name="listUsuarioResponse" type="tns:listUsuarioResponse"/>

<xs:element name="readUsuario" type="tns:readUsuario"/>

<xs:element name="readUsuarioResponse" type="tns:readUsuarioResponse"/>

<xs:element name="updateUsuario" type="tns:updateUsuario"/>

<xs:element name="updateUsuarioResponse" type="tns:updateUsuarioResponse"/>

<xs:complexType name="deleteUsuario">
<xs:sequence>
<xs:element name="arg0" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="usuario">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="historias" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="localizacion" type="xs:string" minOccurs="0"/>
<xs:element name="nombreReal" type="xs:string" minOccurs="0"/>
<xs:element name="nombreUsuario" type="xs:string" minOccurs="0"/>
<xs:element name="noticias" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="notificacions" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="rol" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteUsuarioResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listUsuario">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuario" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateUsuario">
<xs:sequence>
<xs:element name="arg0" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateUsuarioResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="addUsuario">
<xs:sequence>
<xs:element name="arg0" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addUsuarioResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="readUsuario">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="readUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>